<!DOCTYPE html>
<html>
  <head> 
    <title> Home </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height: 180px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Secure Web App</h1>
      <img class="img-fluid" id="banner" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google Logo" width="200" height="320">
      <h2 class="text-center">About Secure web app</h2>
      <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut erat erat. Sed vel velit sed orci sollicitudin eleifend. Fusce enim libero, aliquet in lorem vel, ornare commodo urna. Fusce et facilisis tortor. Vivamus efficitur varius odio, non convallis elit tempus ac. Vivamus cursus nulla ullamcorper tellus ullamcorper interdum. Pellentesque pharetra vel justo ac facilisis. Fusce erat metus, convallis tincidunt laoreet non, laoreet ac lectus. Suspendisse vitae urna vitae diam malesuada venenatis non nec felis. Curabitur at magna sapien. Phasellus ultrices pharetra velit, non bibendum lectus ultrices quis. Ut augue est, semper vel faucibus ultricies, bibendum id tellus. Aenean interdum odio nec leo pharetra, quis ultricies libero vestibulum. Ut fermentum tellus eu sem congue, in dapibus sem aliquet. Vestibulum rutrum elit non felis molestie, vitae laoreet ex varius.</p>
      <h2 class= "text-center mt-2 mb-4"> Open positions </h2>
      <p class="text-center">
        <div>
        {% for job in jobs %}
          {% include 'jobeitem.html' %}
        {% endfor %}
        </div>
      </p>
      </p>
      <div class="text-center">
        <button type="button" class="btn btn-success btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2022, Secure Web App</p>
      </div>
      </div>
    </div>
  </body>
</html>